@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Prompt, sans-serif;
    font-weight: bold;
    color: #4d194d;
}

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#4d194d;

}

header {
    background-color:#006466;
}

#header #title {
    text-align: center;
    font-size: 400%;
    color:#006466
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 30px;

}
#menu a {
    text-decoration: none;
    color:inherit;

}
#menu a:hover {
    border-bottom: 1px solid #006466;

}
.active {
    border-bottom: 1px solid #006466;
}


#hero-image {
    height: 400px;
    width: 100%;
    
    background: url(../images/crossfit-homepage-background.jpg) ;
    

}



